@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&family=Outfit:wght@300&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

#Home {
  background-color: rgb(24, 23, 23);
  height: max-content;
  max-height: max-content;
  width: 100%;
  color: white;
}

#Home .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons,
.ficons {
  display: flex;
  margin-bottom: 0;
}

.icons a .bi {
  cursor: pointer;
  border-radius: 50px;
  padding: 3px 7px;
  border: 1px solid white;
  transition: all 0.3s ease;
}
.ficons a .bi {
  cursor: pointer;
  border-radius: 50px;
  padding: 4px 7px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.ficons a .bi:hover {
  color: #54b54a !important;
  border-color: #54b54a;
}

.icons a .bi:hover {
  color: #54b54a !important;
  border-color: #54b54a;
}

.nav-item a {
  color: rgb(223, 222, 222);
}

.nav-item a:hover {
  color: white;
}

.frame::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -1.5rem;
  left: -1.5rem;
  border: 2px solid white;
}

.active {
  color: white !important;
  position: relative;
}

.active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: white;
  left: 0;
}

/* ************* ABOUT SECTION **************/

#About {
  display: flex;
  min-height: max-content;
}

.sec1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1 .img {
  height: 90%;
  width: 90%;
}

.sec1 img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin: auto;
  width: 100%;
}

.sec2 {
  flex: 1.3;
}

.skills p {
  padding: 5px 12px;
  color: white;
  background-color: #54b54a;
  border-radius: 50px;
  margin: 0;
}

.sec2 .cut {
  position: relative;
  opacity: 0.4;
  color: black;
}

/* ***************WORK********************* */

.imgs {
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.imgs a {
  width: 100%;
  border-radius: 100px 0 100px 0;
}

.imgs a {
  width: 90%;
  height: 500px;
  max-width: 350px;
  border-radius: 50px 0 50px 0;
  margin: auto;
}

.imgs img {
  align-items: center;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50px 0 50px 0;
}

.imgs .hover-item1 {
  opacity: 0;
  transition: all .4s ease-in-out;
}

.imgs .hover-item1:hover {
  opacity: 1;
}


/* *************** CONTACT ME **************** */

#Contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("./assets/bg.avif");
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.input-group-lg .input::placeholder {
  color: rgb(160, 158, 158);
}

.gap-3 .anchor {
  transition: all 0.3s ease;
  padding: 6px 0;
}

/* ********* NAVBAR ********* */

.anchor:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

.button {
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.2);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 30px rgba(8, 249, 40, 0.9);
}

@media screen and (max-width: 650px) {
  /* HOME */
  .frame {
    width: 200px !important;
    height: 220px !important;
  }

  .image {
    width: 200px !important;
    height: 268px !important;
  }

  .big-txt {
    font-size: 6rem !important;
  }
}

@media screen and (max-width: 950px) {
  .imgs {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  .active::after {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  .imgs {
    grid-template-columns: repeat(1, minmax(260px, 1fr));
  }

  .imgs a {
    height: 440px;
  }

  .sec1 .img {
    height: 260px;
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .imgs a {
    height: 400px;
  }
}
